.Hero {
  height: 75vh;
  min-height: 500px;
  background: #F05D4F;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Hero-container {
  width: 100%;
  max-width: 1200px;
}

.Hero-info {
  max-width: 500px;
}

#birkir {
  fill: #f2f2f2;
  width: 500px;
  overflow: visible;
}

#Hero-line {
  background: #fff;
  height: 20px;
  width: 0;
  margin: 20px 0;
}